@import url(https://fonts.googleapis.com/css?family=Cinzel:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #01070a;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    align-items: center;
}

.scene i{
    position: absolute;
    top: -250px;
    background: rgba(255,255,255,0.5);
    animation: animateStars linear infinite;
    width: 100%;
}

@keyframes animateStars{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(110vh);
    }
}

.scene .rocket{
    position: absolute;
    left: 50%;
    bottom: 32%;
    animation: up 5s ease ;
}

@keyframes up{
    0%{
        bottom: -20%;
    }
}

.scene .rocket img{
    width: 60%;
}

.scene .rocket::before{
    content: '';
    position: absolute;
    bottom: -98px;
    left: 31%;
    transform: translateX(-50%);
    width: 8px;
    height: 100px;
    background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after{
    content: '';
    position: absolute;
    bottom: -98px;
    left: 31%;
    transform: translateX(-50%);
    width: 8px;
    height: 100px;
    background: linear-gradient(#00d0ff, transparent);
}

.scene:active .rocket::before,
.scene:active .rocket::after{
    background: linear-gradient(#ff12d7, transparent);
    bottom: -150px;
    height: 150px;
    filter: blur(2px);
}

.scene .rocket img{
    outline: none;
}

.scene div ul{
    display: flex;
}


.navbar{
    padding: 25px;
    display: flex;
    font-family:'Segoe UI', sans-serif;
    justify-content: space-around;
}

.navbar h1, em{
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
}

.id{
    text-align: center;
    padding: 5px;
}

.id div{
    display: flex;
    flex-direction: row;
}

.id div h1{
    margin: 0 6px 0 6px;
    font-weight: normal;
    font-size: 1.5em;
}

.id div h1:nth-child(1){
    background-color: #fff;
    color: #000;
    padding: 10px ;
}

.id div h1:nth-child(2){
    font-weight: bold;
    padding: 10px 0;
}

.name{
    color: #fff;
    text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    position: relative;
    text-align: center;
    outline: none;
    animation: animate 5s linear;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #fff;
        text-shadow: none;
    }

    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

.navbar div ul li{
    list-style-type: none;
    margin: 15px 10px 0 10px;
}

.links ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
}

.links ul li a:hover{
    background-color: #fff;
    transition: 0.4s;
    transition-delay: 0.15s;
    color: #000;
}

.links ul li a span{
    position: absolute;
    display: block;
    background: #fff;
}

.links ul li a span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}

.links ul li a:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
}

.links ul li a span:nth-child(2){
    left: 0;
    top: 0;
    width: 100%;
    height: 1%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}

.links ul li a:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
}

.links ul li a span:nth-child(3){
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
}

.links ul li a:hover span:nth-child(3){
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
}

.links ul li a span:nth-child(4){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2%;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
}

.links ul li a:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
}

.bigpicture{
    padding: 7em;
    text-align: center;
}

.bigpicture h1{
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    margin: 20px;
    font-size: 4em;
}

.bigpicture em{
    font-family: 'Cinzel';
}

.bigpicture h1:nth-child(1){
    font-weight: lighter;
}

.bigpicture h1:nth-child(2){
    font-weight: lighter;
    position: relative;
    top: -20px;
}

.scrolldown{
    position: absolute;
    left: 49.9%;
    bottom: 7vh;
    animation: jump 3s infinite;
}

@keyframes jump{
    0%{
        bottom: 7vh;
    }

    25%{
        bottom: 9vh;
    }

    50%{
        bottom: 9vh;
    }

    75%{
        bottom: 9vh;
    }
    
    100%{
        bottom: 7vh;
    }
}

.portifolio{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portifolio .porti{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 120px;
}

.portifolio .porti h1{
    font-family:'Segoe UI', sans-serif;
    font-size: 3em;
    font-weight: normal;
    padding: 5px;
}

.portifolio .porti p{
    font-size: 1.2em;
    font-family:'Segoe UI', sans-serif;
    text-align: center;
}

.projects{
    min-height: 20vh;
    width: 100%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 15px;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.3);
}

.image:hover img{
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
}

.image img{
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}

.overt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overt a{
    text-decoration: none;
    color: #fff;
    font-family:'Segoe UI', sans-serif;
    font-size: 1.2em;
    font-weight: lighter;
    transition: 0.5s;
}

.overt a::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition:  width .3s;
}

.overt a:hover::after{
    width: 100%;
    transition: width .3s;    
}

.icons{
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons div{
    margin:40px;
    font-family: "Cinzel";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons div img{
    max-width: 50px;
    margin: 10px;
}

.icons div p{
    text-align: center;
}

@media only screen and (max-width: 1440px){
    .bigpicture{
        padding: 5em;
        text-align: center;    
    }
    
    .bigpicture h1{
        margin: 10px;
        font-size: 3em;
    }

    .bigpicture em{
        font-size: 0.9em;
    }

    .navbar{
        padding: 20px;
        display: flex;
        font-family:'Segoe UI', sans-serif;
        justify-content: space-evenly;
    }
    
    .navbar h1, em{
        color: #fff;
        font-weight: normal;
        letter-spacing: 2px;
    }
    
    .navbar div ul li{
        list-style-type: none;
        margin: 15px 8px 0 8px;
    }
    
    .links ul li a{
        text-decoration: none;
        color: #fff;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
    }

    .portifolio .porti{
        margin: 80px;
    }
    
    .portifolio .porti h1{
        font-family:'Segoe UI', sans-serif;
        font-size: 2em;
        font-weight: normal;
        padding: 5px;
    }
    
    .portifolio .porti p{
        font-size: 1em;
        font-family:'Segoe UI', sans-serif;
        text-align: center;
    }
    
}

@media only screen and (max-width: 1366px){
    .scene .rocket img{
        width: 45%;
    }

    .scene .rocket{
        left: 50%;
        bottom: 27%;
    }
    
    .scene .rocket::before{
        bottom: -78px;
        left: 23.6%;
        transform: translateX(-50%);
        width: 7px;
        height: 80px;
        background: linear-gradient(#00d0ff, transparent);
    }
    
    .scene .rocket::after{
        content: '';
        position: absolute;
        bottom: -78px;
        left: 23.6%;
        transform: translateX(-50%);
        width: 7px;
        height: 80px;
        background: linear-gradient(#00d0ff, transparent);
    }
    
    .scene:active .rocket::before,
    .scene:active .rocket::after{
        background: linear-gradient(#ff12d7, transparent);
        bottom: -80px;
        height: 80px;
        filter: blur(2px);
    }

    .scrolldown{
        left: 49.3%;
        bottom: 7vh;
    }
    
}

@media only screen and (max-width: 500px){
    .bigpicture{
        padding: 4em;
        text-align: center;
    }
    
    .bigpicture h1{
        margin: 10px;
        font-size: 2em;
    }

    .bigpicture em{
        font-size: 0.8em;
    }

    .portifolio .porti{
        margin: 80px;
    }
    
    .portifolio .porti h1{
        font-family:'Segoe UI', sans-serif;
        font-size: 2em;
        font-weight: normal;
        padding: 5px;
    }
    
    .portifolio .porti p{
        font-size: 1em;
        font-family:'Segoe UI', sans-serif;
        text-align: center;
    }

    .scrolldown{
        left: 48%;
        bottom: 7vh;
    }
}