*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica";
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #000;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 26%;
}

li{
    list-style-type: none;
    display: flex;
    margin-right: 2%;
    max-width: 100%;
}

li:nth-child(2),
li:nth-child(3),
li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
}

li a{
    text-decoration: none;
    color: #ddd;
    font-size: 12pt;
}


img{
    max-width: 100%;
    height: auto;
}

section{
    display: flex;
    justify-content: center;
    padding: 0.5% 0 0 0;
}

.container{
    background-color: rgba(102, 102, 102, 0.144);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 35px 5px 10px 10px;
    border-radius: 10px ;
    width: 51%;
    max-width: 100%;
}

.container h1{
    font-size: 42pt;
    padding: 5px;
    max-width: 100%;
}

p{
    font-size: 14pt;
    margin: 5px;
    max-width: 100%;
}

.container input{
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #0293f6;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    margin: 15px 3px;
    width: 18%;
    max-width: 100%;
}

form{
    margin: 3% 20%;
    display: inline-block;
}

form div{
    margin: 3% 4.2%;
    display: block;
}

form label{
    font-weight: bold;
    font-size: 14pt;
    margin-top: 45px;
    margin-right: 45px;
}

form div input{
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #0293f6;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    margin: 15px 3px;
    width: 10%;
    max-width: 100%;
}

footer{
    text-align: center;
    margin-top: 2vh;
}

@media only screen and (max-width: 2300px){
    ul{
        justify-content: left;
        margin-left: 8%;
    }
    .container{
        width: 80%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
    }

    form{
        margin-left: 1%;
        justify-content: center;
    }

    form div{
        margin: 2% 6%;
    }
    
    form div input{
        width: 15%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 1900px){
    .container{
        width: 83%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 5%;
    margin-left: 2%;
    }

    form{
        margin-left: 1%;
        justify-content: center;
    }

    form div{
        padding: 2%;
        margin: 2% 3.5%;
    }
    
    form div input{
        width: 20%;
        margin-left: 0;
    }

}



@media only screen and (max-width: 768px){
    ul li a img{
        width: 100%;
        margin-right: 2%;
    }
    
    li{
        margin-right: 8%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
        margin-bottom: 5%;
        margin-left: 2%;
    }
    .container{
        width: 100%;
    }
    
    .container input{
        width: 40%;
    }

    form{
        margin-left: -25px;
        justify-content: center;
    }

    form div{
        padding: 2%;
        margin: 4% 3%;
    }
    
    form div input{
        width: 30%;
        margin-left: 0;
    }

}