*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica";
    background-color: #ddd;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #000;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 26%;
}

li{
    list-style-type: none;
    display: flex;
    margin-right: 2%;
    max-width: 100%;
}

li:nth-child(2),
li:nth-child(3),
li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
}

li a{
    text-decoration: none;
    color: #ddd;
    font-size: 12pt;
}


img{
    max-width: 100%;
    height: auto;
}

section{
    display: flex;
    justify-content: center;
    padding: 0.5% 0 0 0;
}

.container{
    background-color: rgba(102, 102, 102, 0.144);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 35px 5px 10px 10px;
    border-radius: 10px ;
    width: 51%;
    max-width: 100%;
}

.container h1{
    font-size: 42pt;
    padding: 5px;
    max-width: 100%;
}

p{
    font-size: 14pt;
    margin: 5px;
    max-width: 100%;
}

.container input{
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #0293f6;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    margin: 15px 3px;
    width: 18%;
    max-width: 100%;
}

.cards{
    text-align: left;
    padding: 2%;
}

.cards h4{
    font-size: 18pt;
    margin-bottom: 15px;
}

.cards div{
    display: inline-flex;
    flex-direction: column;
    padding: 0 0.2%;
}

.cards div:nth-child(2) a input{
    border: none;
    font-size: 12pt;
    background-color: #0293f6;
    color: #fff;
    padding: 10px 20px;
    margin-top: 6vh;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.cards div:nth-child(2) a input:hover{
    background-color: #0294f6cb;
}

.cards div:nth-child(3) div{
    margin-top: 5vh;
}
.cards div:nth-child(3) a{
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 163, 0);
    padding: 8px 14px;
    font-size: 10pt;
    color: #fff;
}

.cards div:nth-child(3) a input{
    background-color:rgba(0, 163, 0, 0);
    margin: 0;
    padding: 0 ;
    width: 12px;
}

.cards div:nth-child(3) a input:hover{
    background-color: rgba(216, 191, 216, 0);
}

footer{
    text-align: center;
    margin-top: 20vh;
}
@media only screen and (max-width: 2300px){
    ul{
        justify-content: left;
        margin-left: 8%;
    }
    .container{
        width: 80%;
    }

    .cards div{
        padding: 0 5% ;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
}
}

@media only screen and (max-width: 1900px){
    .container{
        width: 83%;
    }

    .cards div{
        padding: 0 7%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 5%;
    margin-left: 2%;
    }
}



@media only screen and (max-width: 768px){
    ul li a img{
        width: 100%;
        margin-right: 2%;
    }
    
    li{
        margin-right: 8%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-bottom: 5%;
    margin-left: 2%;
    }
    .container{
        width: 100%;
    }
    
    .container input{
        width: 35%;
        text-align: left;
    }

    .cards{
        flex-direction: column;
    }

    .cards div{
        margin: 5% 0;
    }
}