*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

header{
    background-color: #000;
}

ul{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 26%;
}

li{
    list-style-type: none;
    display: flex;
    margin-right: 2%;
    max-width: 100%;
}

li:nth-child(2),
li:nth-child(3),
li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
}

li a{
    text-decoration: none;
    color: #ddd;
    font-size: 12pt;
}


img{
    max-width: 100%;
    height: auto;
}

section{
    display: flex;
    justify-content: center;
    padding: 0.5% 0 0 0;
}

.container{
    background-color: rgba(102, 102, 102, 0.144);
    display: flex;
    flex-direction: column;
    align-content: space-around;
    padding: 35px 5px 10px 10px;
    border-radius: 10px ;
    width: 51%;
    max-width: 100%;
}

.container h1{
    font-size: 42pt;
    padding: 3px;
    max-width: 100%;
}

p{
    font-size: 14pt;
    margin: 5px;
    max-width: 100%;
}

.container input{
    outline: none;
    padding: 1em 1.5em;
    border: none;
    border-radius: 5px;
    background-color: #0293f6;
    color: #fff;
    cursor: pointer;
    font-size: 12pt;
    margin: 15px 3px;
    width: 18%;
    max-width: 100%;
}

table{
    padding: 10px;
    width: 51.5%;
}

th, td:nth-child(1),
td:nth-child(2),
td:nth-child(3){
    padding: 20px;
    text-align: center;
}

tr:nth-last-child(odd){
    background-color: rgba(102, 102, 102, 0.144);
}

.icons{
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 6.5vh;
}

.icons button{
    outline: none;
    max-width: 100%;
    border: none;
    background-color: rgba(221, 221, 221, 0);
    cursor: pointer;
    transition: 0.2s;
}

.icons button:hover,
.icons a:hover{
    background-color: rgba(102, 102, 102, 0.144);
    border-radius: 20px;
}

footer{
    text-align: center;
    margin-top: 20vh;
}

@media only screen and (max-width: 2300px){
    ul{
        justify-content: left;
        margin-left: 8%;
    }
    .container{
        width: 80%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 3%;
    margin-left: 2%;
    }
}

@media only screen and (max-width: 1900px){
    .container{
        width: 83%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
    margin-top: 5%;
    margin-left: 2%;
    }
}



@media only screen and (max-width: 768px){
    ul li a img{
        width: 100%;
        margin-right: 2%;
    }
    
    li{
        margin-right: 8%;
    }

    li:nth-child(2),
    li:nth-child(3),
    li:nth-child(4){
        margin-bottom: 5%;
        margin-left: 2%;
    }
    .container{
        width: 100%;
    }
    
    .container input{
        width: 50%;
    }

    .icons{
        flex-flow: row wrap;
    }
}